---
---
<nav class="nav">
    <div class="container">
      <h1 class="logo"><a href="/index.html">BinaryCoder777</a></h1>
      <ul>
        <li><a href="#" class="current">主页</a></li>
        <li><a href="#">个人足迹</a></li>
        <li><a href="#">日常随笔</a></li>
        <li><a href="#">项目开发</a></li>
        <li><a href="#">我的书库</a></li>
        <li><a href="#">其他</a></li>
      </ul>
    </div>
</nav>
<!-- <div class="separator"></div> -->


<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff2c;;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #ffffff42;;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2000; /* 为.nav设置较高的z-index值 */
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}



.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #191818cd;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #4c8ba9;
  font-weight: bold;
}

</style>

<script>
  const nav = document.querySelector('.nav')
window.addEventListener('scroll', fixNav)

function fixNav() {
    if(window.scrollY > nav.offsetHeight + 150) {
        nav.classList.add('active')
    } else {
        nav.classList.remove('active')
    }
}

window.addEventListener('scroll', function() {
      var separator = document.querySelector('.separator');

      // 根据滚动距离控制分割线的显示和隐藏
      if (window.scrollY > 50) {
        separator.style.display = 'block';
      } else {
        separator.style.display = 'none';
      }
    });
</script>
